*{
    box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
}

.header{
    margin-top:30px;
    padding:60px;
    text-align:center;
    background-image: url("../images/header.jpg");
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    color:white;
    font-size:20px;

}
nav li{
    display:inline;
    padding:15px;
}
li a{
    text-decoration:none;
    color:white;
}
nav li:hover{
   background-color: dimgrey;
   color:white;
   cursor:pointer;
}
nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
   
}
nav{
    background-color: darkcyan;
    color:white;
    padding:14px 0;
    position:fixed;
    width:100%;
    top:0;
    z-index:1;
}
.dropdown-content{
    display: none;
    position: absolute;
    top:45px;
    left:74px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown:hover .dropdown-content {
    display: block;
  }
.dropdown-content a:hover {background-color: #f1f1f1;}
main{
    padding:15px;
    overflow:auto;
}
#content{
    float:left;
    width:70%;
    overflow:auto;
}
.card{
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.2);
    padding:15px;
    margin:5px;
    position:relative;
    overflow:auto;
 
}
.card h2{
    margin-top:0;
}

.image img{
    float:left;
    margin-right:10px;
    max-height:300px;
    object-fit: cover;
    object-position: center;
    
}
.image-404{
    text-align:center;
}
.image-404 img{
    max-height:400px;
    object-fit: cover;
    object-position: center;
}
aside{
    float:right;
    width:30%;
}

.image_profile{
    text-align:center;
}
.image_profile img{
    width:50%;
    margin:10px;
}
.download-btn{
    bottom:50px;
    right:30px;
    position:absolute;
}
.download-btn a{
    background-color: dodgerblue;
    padding:10px;
    text-decoration:none;
    color:white;
    border-radius:5px;
    
}
.download-btn a:hover{
    background-color: rgb(27, 127, 228);
}
footer{
    padding:20px;
    background-color: dimgrey;
    color:white;
    text-align:center;
}
footer a{
    margin-left:5px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    .download-btn{
        bottom:20px;
        
        
    }
    .image img{
        float:none;
    }
    .image{
        text-align:center;
    }
    .download-btn{
       position:static;
       text-align:center;
       margin:20px;
    }
}